---
layout: default
---

<div class="posts">
  {% for post in site.posts reversed %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">
        {% if post.sampleno %}
          <strong>Sample {{ post.sampleno }}.</strong> {{ post.title }}</a></h1>
        {% endif %}

      <div class="entry">
        {{ post.excerpt }}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>